<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Acervo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/catalogo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Acervo.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Home Page";
}

  <main class="container-main">
    <h1>Catálogo de obras</h1>
    <div class="container-form">
      <form action="">
        <input type="text" id="search" name="search" placeholder="Nome da obra" class="form__field">
        <select name="" id="" class="container-select">
          <option value="" class="first">Categoria</option>
          <option value="">Literatura</option>
          <option value="">Criminal</option>
          <option value="">Terror</option>
          <option value="">Científico</option>
        </select>
        <input type="button" value="Limpar Filtro" class="btn-filter">
      </form>
    </div>
  </main>
