@{
    ViewData["Title"] = "Cadastro de Livros";
}
<div class="text-center">
    <h1>Cadastrar Livros</h1>
</div>
<form>
    <div class="form-group">
        <label for="nameBook">Nome do Livro</label>
        <input type="text" class="form-control" id="nameBook" placeholder="Senhor dos Anéis">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Categoria</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Escolha uma opção...</option>
            <option>Autoajuda</option>
            <option>Aventura</option>
            <option>Biografia</option>
            <option>Crônica</option>
            <option>Didático</option>
            <option>Drama</option>
            <option>Fantasia</option>
            <option>Ficção Científica</option>
            <option>História</option>
            <option>Infantil</option>
            <option>Poema</option>
            <option>Policial</option>
            <option>Quadrinhos</option>
            <option>Romance</option>
            <option>Teatro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="descriptionBook">Descrição do Livro</label>
        <textarea class="form-control" id="descriptionBook" rows="4"></textarea>
    </div>
    <div class="form-group col-md-2">
        <label for="amount">Quantidade</label>
        <input type="number" class="form-control" id="amount">
    </div>
    <div class="form-group col-md-4">
        <label for="bookcase">Estante</label>
        <select id="bookcase" class="form-control">
            <option selected>Escolha uma opção...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Prateleira</label>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="formControlFile">Adicionar imagem</label>
        <input type="file" class="form-control-file" id="formControlFile">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>


