@model BuscaBook.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoPublicacao" class="control-label"></label>
                <input asp-for="AnoPublicacao" class="form-control" />
                <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservado" class="control-label"></label>
                <input asp-for="Reservado" class="form-control" onchange="reservarLivro()" />
                <span asp-validation-for="Reservado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoReserva" class="control-label"></label>
                <input asp-for="TempoReserva" class="form-control" />
                <span asp-validation-for="TempoReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alugado" class="control-label"></label>
                <input asp-for="Alugado" class="form-control" onchange="alugarLivro()" />
                <span asp-validation-for="Alugado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoAluguel" class="control-label"></label>
                <input asp-for="TempoAluguel" class="form-control" />
                <span asp-validation-for="TempoAluguel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar novo livro" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar ao Catálogo</a>
</div>

@section Scripts {
    <script>
        function reservarLivro() {
            var checkbox = document.getElementById("Reservado");
            var tempoReservaInput = document.getElementById("TempoReserva");
            
            if (checkbox.checked) {
                tempoReservaInput.value = new Date().toISOString();
            } else {
                tempoReservaInput.value = "";
            }
        }
        
        function alugarLivro() {
            var checkbox = document.getElementById("Alugado");
            var tempoAluguelInput = document.getElementById("TempoAluguel");
            
            if (checkbox.checked) {
                tempoAluguelInput.value = new Date().toISOString();
            } else {
                tempoAluguelInput.value = "";
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
