@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


h1 {
  margin: 1rem 0;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background-color: #f2f2f2;
}

.mainMenu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
}

.mainMenu a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.mainMenu a:hover {
    color: #fff;
}
