/* _content/Acervo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html[b-0raek77q90] {
  box-sizing: border-box;
  font-size: 16px;
}

*[b-0raek77q90],
*[b-0raek77q90]:before,
*[b-0raek77q90]:after {
  box-sizing: inherit;
}

body[b-0raek77q90],
h1[b-0raek77q90],
h2[b-0raek77q90],
h3[b-0raek77q90],
h4[b-0raek77q90],
h5[b-0raek77q90],
h6[b-0raek77q90],
p[b-0raek77q90],
ol[b-0raek77q90],
ul[b-0raek77q90] {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body[b-0raek77q90] {
  background-color: #f2f2f2;
}

ol[b-0raek77q90],
ul[b-0raek77q90] {
  list-style: none;
}

img[b-0raek77q90] {
  max-width: 100%;
  height: auto;
}

.container-header[b-0raek77q90] {
  margin-top: 2rem;
  display: flex;
  background-color: #407bff;
  padding: 1rem;
  width: 100%;
}

.container-nav[b-0raek77q90] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 3rem;
}

.busca-book[b-0raek77q90] {
  color: white;
  font-weight: bold;
}

.container-nav ul[b-0raek77q90] {
  display: flex;
  margin: 0 auto;
  gap: 6rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.ul[b-0raek77q90] {
  display: flex;
}

.footer[b-0raek77q90] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
