@model BuscaBook.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" >

</head>
<body>
    <div class="authContainer">
      <div class="d-none d-lg-block authInfo">
           <h1 class="authInfoTitle">Área de acesso <br /> restrito</h1>
           <p class="authInfoSubtitle">Área de acesso do administrador</p>
           <img src="../../img/password.png" alt="Background Login" class="authInfoImg"/>
      </div>
      <div class="card-base authCard">
        <div class="authContent">
            <form class="d-flex flex-column align-items-center justify-content-between loginForm">
                <h2 class="text-center mb-5 formTitle">Login</h2>

                <input type="text" class="form-control input-base" placeholder="Email" />
                <input type="password" class="form-control input-base" placeholder="Senha" />
                <div class="btn-container text-align-center">
                    <button class="btn btn-primary">
                        <a asp-area="" asp-controller="Usuarios" asp-action="Index"><h6>Entrar</h6></a>
                    </button>
                    <div class="btn-icon-container">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
<h3>@ViewBag.Message</h3>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
