@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    <div class="home-card">
        <div class="home-content-container">
            <h1>Faça sua busca em nosso acervo digital</h1>
            <p>Ajudaremos você a encontrar todos os títulos disponíveis em nosso acervo.</p>
            <div class="btn-container">
                <button class="btn btn-primary">
                    <h6>inicie agora a sua busca</h6>
                </button>
                <div class="btn-icon-container">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="home-image-container">
            <img src="./img/pic-home.svg" alt="Usuário pesquisando no sistema de busca">
        </div>
    </div>
</div>