*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f2f2f2;
}

ol,
ul {
    list-style: none;
}

.container-header {
    display: flex;
    background-color: #407bff;
    padding: 1rem;
    width: 100%;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.container-nav div a {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.logo{
    color: white;
    font-weight: bold;
}

.container-nav ul {
    display: flex;
    margin: 0 auto;
    gap: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.home, .catalogo, .login {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 200;
    opacity: 50%
}
.home:hover, .catalogo:hover, .login:hover {
    font-weight: bold;
    opacity: 100%;
    color: #FFFFFF

}

.active {
    font-weight: bold;
    opacity: 100%
}

.ul {
    display: flex;
}

.footer {
    text-align: center;
    padding: 10px 0;
}

