/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f2f2f2;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-header {
  margin-top: 2rem;
  display: flex;
  background-color: #407bff;
  padding: 1rem;
  width: 100%;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 3rem;
}

.busca-book {
  color: white;
  font-weight: bold;
}

.container-nav ul {
  display: flex;
  margin: 0 auto;
  gap: 6rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.ul {
  display: flex;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
